html {
    font-family: sans-serif;
}

.topnav {
    background-color: dodgerblue;
    overflow: hidden;
}

.box {
    border: 10px dotted black;
    padding: 5px;
    background: lightblue;
    background-clip: border-box;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: dodgerblue;
}

.intro {
    padding: 120px 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto
}

body,html {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    width: 100%
}

.section_title {
    color: dodgerblue;
}
.section_content {
    font-weight: 100;
}